*{
    margin: 0;
}
div{
    position: relative;
    height: 100%;
    
}
main{
    background: #93B5C9;
    height: 130px;
}
section{
    background: #AB2849;
    height: 200px;
}
nav{
    position: absolute;
    height: 200px;  
}
.wine{
    background: #AB2849;
    height: 150px;
    margin: 20px 0 0 230px;
}
footer{
    background: #AB2849;
    height: 60px;
    margin: 15px 20px 5px 20px;
}
    